@import "../../../../variables";

.container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;

  .nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .btn {
    padding: 10px 40px;
    background-color: $primary-button-color;
    color: $white;
    border-radius: 5px;
    font-size: 18px;
    align-self: center;
    transition: 0.1s linear;

    &:hover {
      cursor: pointer;
      transition: 0.1s linear;
      box-shadow: 0 0 10px gray;
    }
  }

  .projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;

    .project {
      border: 1px solid #F2F4F8;
      padding: 10px 20px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;

  input {
    all: unset;
  }

  .input {
    border: 2px solid #2CA2FD;
    border-radius: 5px;
    width: 400px;
    height: 10px;
    padding: 10px;
  }

  .btns {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  padding: 10px 40px;
  background-color: $primary-button-color;
  color: $white;
  border-radius: 5px;
  font-size: 18px;
  align-self: center;
  transition: 0.1s linear;

  &:hover {
    cursor: pointer;
    transition: 0.1s linear;
    box-shadow: 0 0 10px gray;
  }
}

