<div class="container">
    <div class="nav">
        <div class="title">Список доступных проектов</div>
        <button class="btn" (click)="showModal('Create')">Создать</button>
    </div>
    <div [ngClass]="{projects: true}">
        <div [ngClass]="{project: true}" *ngFor="let project of projects"
             (click)="showModal('Edit', project)">
            {{project.name}}</div>
    </div>
</div>

<app-modal [(modal)]="isOpen">
    <ng-container [ngSwitch]="modalType">
        <div [ngClass]="{modalContainer: true}" *ngSwitchCase="'Create'">
            <div>
                <div>Название проекта</div>
                <input [ngClass]="{input: true}" [(ngModel)]="projectNameInputValue"/>
            </div>
            <button [ngClass]="{btn: true}" (click)="createProject()">Добавить</button>
        </div>

        <div [ngClass]="{modalContainer: true}" *ngSwitchCase="'Edit'">
            <div>Текущее название: {{currentProject?.name}}</div>
            <input [ngClass]="{input: true}" [(ngModel)]="projectNameInputValue" placeholder="Введите новое название"/>
            <div [ngClass]="{btns: true}">
                <button [ngClass]="{btn: true}" (click)="updateProject()">Сохранить</button>
                <button [ngClass]="{btn: true}" (click)="deleteProject()">Удалить</button>
            </div>
        </div>
    </ng-container>
</app-modal>