<div echarts
     [autoResize]="true"
     [options]="options"
     [ngClass]="{main: true}"
     (chartClick)="onChartEvent($event)"
     (chartInit)="onChartInit($event)"
></div>
<div [ngClass]="{sidebar: true}">
    <app-sidebar [(visible)]="sidebarVisible">
        <app-admin-sidebar-content
            [selectedNode]="selectedNode"
            (getGradeNodes)="getSkillsAndPositions($event)"
            (saveNewNode)="saveNewNode($event)"
            (deleteNode)="deleteNode($event)"
        ></app-admin-sidebar-content>
    </app-sidebar>
</div>
<app-modal [(modal)]="modalVisible">
    <app-admin-modal-content
        [selectedNode]="selectedNode"
        (saveDutyOrSubskill)="selectedNode.type === 'duty' ? saveDuty($event) : saveSubskill($event)"
    ></app-admin-modal-content>
</app-modal>