<div echarts
     [autoResize]="true"
     [options]="options"
     [ngClass]="{main: true}"
     (chartClick)="onChartEvent($event)"
     (chartInit)="onChartInit($event)"
></div>
<div [ngClass]="{sidebar: true}">
    <app-sidebar [(visible)]="visible">
        <app-admin-sidebar
            [selectedNode]="selectedNode"
            (getGradeNodes)="getSkillsAndPositions($event)"
            (saveNewNode)="saveNewNode($event)"
            (deleteNode)="deleteNode($event)"
        ></app-admin-sidebar>
    </app-sidebar>
</div>