<div [ngClass]="{container: true}">
    <div *ngIf="user" [ngClass]="{profile: true}">
        <div [ngClass]="{avatar: true}" (click)="goToMyProfile()"></div>
        <div [ngClass]="{title: true}" (click)="goToMyProfile()">Профиль</div>
    </div>
    <button *ngIf="!user" [ngClass]="{btn: true}" [ngStyle]="{'align-self': 'stretch'}" (click)="goToMyProfile()">Войти
        в аккаунт
    </button>
    <div [ngClass]="{filters: true}">
        <div [ngClass]="{title: true}">Фильтры</div>
        <div [ngClass]="{checkbox: true}">
            <mat-checkbox [color]="'primary'" [(ngModel)]="filters.skill">Скиллы</mat-checkbox>
        </div>
        <div [ngClass]="{checkbox: true}">
            <mat-checkbox [color]="'primary'" [(ngModel)]="filters.position">Должности</mat-checkbox>
        </div>
        <!--        <div [ngClass]="{checkbox: true}" *ngIf="user">-->
        <!--            <mat-checkbox [color]="'primary'" [(ngModel)]="filters.myRole">Мои роли</mat-checkbox>-->
        <!--        </div>-->
        <!--        <div [ngClass]="{checkbox: true}" *ngIf="user">-->
        <!--            <mat-checkbox [color]="'primary'" [(ngModel)]="filters.myGrade">Мои грейды</mat-checkbox>-->
        <!--        </div>-->
        <!--        <div [ngClass]="{checkbox: true}" *ngIf="user">-->
        <!--            <mat-checkbox [color]="'primary'" [(ngModel)]="filters.mySkill">Мои скиллы</mat-checkbox>-->
        <!--        </div>-->
        <!--        <div [ngClass]="{checkbox: true}" *ngIf="user">-->
        <!--            <mat-checkbox [color]="'primary'" [(ngModel)]="filters.myPosition">Мои должности</mat-checkbox>-->
        <!--        </div>-->
        <button [ngClass]="{btn: true}" (click)="filterNodes()">Применить</button>
    </div>
</div>