<div echarts [options]="options" [ngClass]="{main: true}" (chartClick)="onChartEvent($event, 'chartClick')"></div>
<div [ngClass]="{profile: true}">
  <button [ngClass]="{button: true}" (click)="showNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <app-navigation [(visible)]="visible">
    <div [ngClass]="{avatar: true}"></div>
    <div [ngClass]="{prof: true}">Профиль</div>
    <form>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" id="skills" [(ngModel)]="filters.skill" name="skill">
        <label for="skills">Скиллы</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" id="mySkills" [(ngModel)]="filters.mySkill" name="mySkill">
        <label for="mySkills">Мои скиллы</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" id="positions" [(ngModel)]="filters.position" name="position">
        <label for="positions">Должности</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" id="myPositions" [(ngModel)]="filters.myPosition" name="myPosition">
        <label for="myPositions">Мои должности</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" id="myGrades" [(ngModel)]="filters.myGrade" name="myGrade">
        <label for="myGrades">Мои грейды</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" id="myRoles" [(ngModel)]="filters.myRole" name="myRole">
        <label for="myRoles">Мои роли</label>
      </div>
      <button [ngClass]="{btn: true}" (click)="filterNodes()">Применить</button>
    </form>
  </app-navigation>
</div>
