.main {
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;

  .avatar {
    width: 70px;
    height: 70px;
    background-color: #868A95;
  }
}

.button {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(1.2);
}
