<div echarts [options]="options" [ngClass]="{main: true}" (chartClick)="onChartEvent($event, 'chartClick')"></div>
<div [ngClass]="{profile: true}">
  <button [ngClass]="{button: true}" (click)="showNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <button (click)="add()">add</button>
  <app-navigation [(visible)]="visible">
    <div [ngClass]="{avatar: true}"></div>
    <div [ngClass]="{prof: true}">Профиль</div>
    <div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" in="skills">
        <label for="skills">Скиллы</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" in="mySkills">
        <label for="mySkills">Мои скиллы</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" in="Positions">
        <label for="Positions">Должности</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" in="myPositions">
        <label for="myPositions">Мои должности</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" in="myGrade">
        <label for="myGrade">Мои грейды</label>
      </div>
      <div [ngClass]="{checkbox: true}">
        <input type="checkbox" in="myRoles">
        <label for="myRoles">Мои роли</label>
      </div>
    </div>
  </app-navigation>
</div>