<div echarts
     [autoResize]="true"
     [options]="options"
     [ngClass]="{main: true}"
     (chartClick)="onChartEvent($event)"
     (chartInit)="onChartInit($event)"
></div>
<div [ngClass]="{sidebar: true}">
    <button [ngClass]="{button: true}" (click)="showSidebar()">
        <mat-icon [ngClass]="{icon: true}">menu</mat-icon>
    </button>
    <app-sidebar [(visible)]="sidebar">
        <app-user-sidebar (getFilters)="filterNodes($event)"></app-user-sidebar>
    </app-sidebar>
    <app-modal [(modal)]="modal">
        <div *ngIf="nodeInfo && nodeInfo.type === 'skill'" [ngClass]="{modal: true}">
            <div [ngClass]="{title: true}">
                {{nodeInfo.parentName}}
            </div>
            <div>
                <div>{{'Список подскиллов'}}</div>
                <ol>
                    <li *ngFor="let detail of nodeInfo.details">{{detail.name}}</li>
                </ol>
            </div>
            <button [ngClass]="{saveButton: true}"
                    *ngIf="user"
                    (click)="markSkill()"
            >
                Отметить изученным
            </button>
        </div>
        <div *ngIf="nodeInfo && nodeInfo.type === 'position'" [ngClass]="{modal: true}">
            <div [ngClass]="{title: true}">
                {{nodeInfo.parentName}}
            </div>
            <div>
                <div>{{'Список обязанностей'}}</div>
                <ol>
                    <li *ngFor="let detail of nodeInfo.details">{{detail.name}}</li>
                </ol>
            </div>
        </div>
    </app-modal>
</div>