@import "../../../../variables";

.nav {
  box-sizing: border-box;
  padding: 10px;
  color: #FFFFFF;
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid white;
  height: 6%;
  align-items: center;
  justify-content: space-between;

  .exit {
    cursor: pointer;
    position: relative;

    &:hover:before {
      transform: scaleX(1);
      transition: .25s;
    }

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #FFFFFF;
      position: absolute;
      left: 0;
      bottom: -5px;
      transform: scaleX(0);
      transition: .25s;
    }
  }

  .container {
    display: flex;
    gap: 20px;

    .nav-item {
      cursor: pointer;
      position: relative;

      &:hover:before {
        transform: scaleX(1);
        transition: .25s;
      }

      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transition: .25s;
      }
    }
  }

}