<div class="nav">
    <div class="container">
        <div class="nav-item" (click)="goToMyProfile()" *ngIf="!isAdmin">Профиль</div>
        <div class="nav-item" routerLink="">Граф</div>
        <div class="nav-item" routerLink="table">Таблица</div>
        <div class="nav-item" routerLink="user-search" *ngIf="isAdmin">Сотрудники</div>
        <div class="nav-item" routerLink="projects" *ngIf="isAdmin">Проекты</div>
    </div>
    <div class="exit" *ngIf="isAdmin" (click)="logout()">Выйти</div>
</div>