@import "src/variables";

.main {
  height: 100vh;
  @if $isDarkMode {
    background-color: $dark-background-color;
  } @else {
    background-color: $primary-background-color;
  }

  .nav {
    display: flex;
    gap: 10px;
    color: white;
    height: 2vh;

    .item {

    }
  }
}