<div class="date-picker-container">
    <mat-form-field appearance="fill">
        <mat-label class="white">Введите даты начала и конца</mat-label>
        <mat-date-range-input class="white" [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Дата начала">
            <input matEndDate formControlName="end" placeholder="Дата конца">
        </mat-date-range-input>
        <mat-hint class="white">ММ/ДД/ГГГГ – ММ/ДД/ГГГГ</mat-hint>
        <mat-datepicker-toggle class="white" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker class="white" #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
</div>
<div [ngClass]="{tablesContainer: true}">
    <table>
        <tr>
            <td rowspan="2">ФИО</td>
            <td rowspan="2">Руководитель</td>
            <ng-container *ngFor="let month of monthsWithYear">
                <td colspan="5">{{month.month.name}} {{month.year}}</td>
            </ng-container>
        </tr>
        <tr>
            <ng-container *ngFor="let month of monthsWithYear">
                <td>Премия</td>
                <td>Оклад</td>
                <td>Апдейт</td>
                <td>Ставка</td>
                <td>Итого</td>
            </ng-container>
        </tr>
        <tr *ngFor="let emp of renderEmployeeViewModel.employees$ | async">
            <td class="name-cell">
                <div class="manager">
                    <div>{{emp.firstName}} {{emp.lastName}}</div>
                    <mat-icon
                        *ngIf="emp.type === 'Manager' && emp.isExpandMore"
                        (click)="hideSubordinates(emp.id); emp.isExpandMore = false;"
                        class="icon"
                    >
                        expand_more
                    </mat-icon>
                    <mat-icon
                        *ngIf="emp.type === 'Manager' && !emp.isExpandMore"
                        (click)="showSubordinates(emp.id); emp.isExpandMore = true;"
                        class="icon"
                    >
                        chevron_right
                    </mat-icon>
                </div>
            </td>
            <td>{{emp.manager?.firstName}} {{emp.manager?.lastName}}</td>
            <ng-container *ngFor="let salary of emp.salaries">
                <td class="changeable" [ngClass]="{inChange: salary.bonus.isChangeMode}">
                    <div *ngIf="!salary.bonus.isChangeMode"
                         (dblclick)="changeMode(salary, 'bonus')"
                    >
                        {{salary.bonus.value}}
                    </div>
                    <input *ngIf="salary.bonus.isChangeMode"
                           [(ngModel)]="salary.bonus.value"
                           (keydown.enter)="salary.bonus.isChangeMode = false; isCellChangeMode = false; saveFieldChanges(salary, emp.id)"
                           (keydown.escape)="handleEscape(salary, 'bonus')"
                    />
                </td>
                <td class="changeable" [ngClass]="{inChange: salary.wage.isChangeMode}">
                    <div *ngIf="!salary.wage.isChangeMode"
                         (dblclick)="changeMode(salary, 'wage')"
                    >
                        {{salary.wage.value}}
                    </div>
                    <input *ngIf="salary.wage.isChangeMode"
                           [(ngModel)]="salary.wage.value"
                           (keydown.enter)="salary.wage.isChangeMode = false; isCellChangeMode = false; saveFieldChanges(salary, emp.id)"
                           (keydown.escape)="handleEscape(salary, 'wage')"
                    />
                </td>
                <td>0</td>
                <td class="changeable" [ngClass]="{inChange: salary.rate.isChangeMode}">
                    <div *ngIf="!salary.rate.isChangeMode"
                         (dblclick)="changeMode(salary, 'rate')"
                    >
                        {{salary.rate.value}}
                    </div>
                    <input *ngIf="salary.rate.isChangeMode"
                           [(ngModel)]="salary.rate.value"
                           (keydown.enter)="salary.rate.isChangeMode = false; isCellChangeMode = false; saveFieldChanges(salary, emp.id)"
                           (keydown.escape)="handleEscape(salary, 'rate')"
                    />
                </td>
                <td>{{+salary.wage.value * +salary.rate.value + +salary.bonus.value}}</td>
            </ng-container>
        </tr>
    </table>
</div>