<div [ngClass]="{containerUp: true}">
  <div [ngClass]="{wrapperImg: true}">
    <img [ngClass]="{avatar: true}" src="https://polymus.ru/media/cache/dc/70/dc70224031a4ad5d8f0a5ced566cd87a.jpg"
      alt="">
  </div>
  <p [ngClass]="{name: true}">Альберт Эйнштейн</p>
  <button [ngClass]="{btn: true}" routerLink="">Назад</button>
</div>
<div [ngClass]="{containerDown: true}">
  <div [ngClass]="{projects: true}">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>