@import "src/variables";

.main {
  position: fixed;
  width: 16vw;
  padding: 20px;
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  border-left: 1px solid grey;
  transition: 0.4s all;
  @if $isDarkMode {
    background-color: $dark-background-color;
  } @else {
    background-color: $primary-background-color;
  }

  .close {
    align-self: flex-end;
    margin-bottom: 30px;
    transform: scale(1.2);
    @if $isDarkMode {
      color: $white;
    } @else {
      color: $primary-text-color;
    }
  }
}

.active {
  transition: 0.4s all;
  transform: translateX(0);
}