<div [ngClass]="{main: true}">
    <div [ngClass]="{searchContainer: true}">
        <input [ngClass]="{input: true}" [(ngModel)]="searchModel" (keyup.enter)="searchUser()"/>
        <button [ngClass]="{button: true}" (click)="searchUser()">Поиск</button>
    </div>
    <div [ngClass]="{users: true}">
        <div [ngClass]="{user: true}"
             *ngFor="let user of users"
             (click)="goToUserProfile(user.id)">
            {{user.firstName}} {{user.lastName}} {{user.patronymic}}
        </div>
    </div>
</div>
