.form {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2CA2FD;
  border-radius: 5px;
  padding: 70px 50px 50px 50px;

  .input {
    padding: 5px 20px;
    border: 1px solid #2CA2FD;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    width: 25vw;

    &:first-child {
      margin-bottom: 40px;
    }
  }



  .password {
    color: #868A95;
    font-size: 13px;
    align-self: flex-end;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .btn {
    padding: 10px 39px;
    border: 1px solid #2CA2FD;
    background-color: #2E62D9;
    color: #EDF5E1;
    border-radius: 5px;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }

}