.form {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #2CA2FD;
  border-radius: 5px;
  align-items: center;
  padding: 50px 50px 0;

  .input {
    padding: 5px 20px;
    border: 2px solid #2CA2FD;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    width: 20vw;
    outline: 0;

    &:first-child {
      margin-bottom: 40px;
    }

    &:hover {
      border-color: #2E62D9;
    }
  }



  .password {
    color: #868A95;
    font-size: 13px;
    align-self: flex-end;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .btn {
    padding: 10px 39px;
    border: 1px solid #2CA2FD;
    background-color: #2E62D9;
    color: #EDF5E1;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 50px;

    &:hover {
      cursor: pointer;
      font-size: 20px;
      margin-bottom: 48px;
      transition: 0.1s linear;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

}
