@import '@angular/cdk/overlay-prebuilt.css';

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

ol {
  padding: 10px 20px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  all: unset;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}