.main {
  position: fixed;
  width: 20%;
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  background-color: white;
  border-left: 1px solid #000;

  .avatar {
    width: 70px;
    height: 70px;
    background-color: #868A95;
  }

  .header {
    margin: 10px 0px;
  }
}

.active {
  transform: translateX(0);
}