@import "../../../../variables";

.main {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  color: #F2F4F8;
  padding: 20px;
  overflow: auto;

  .title {
    font-size: 1.5em;
    color: white;
  }

  .searchContainer {
    display: flex;
    gap: 20px;

    .input {
      box-sizing: border-box;
      font-size: 16px;
      outline: 0;
      color: #F2F4F8;
      padding: 0 5px;
      background-color: #222835;
      border: 2px solid #F2F4F8;
      border-radius: 5px;
      width: 50%;

      &:hover {
        transition: 0.1s linear;
        box-shadow: 0 0 5px rgb(255 255 255 / 100%);
      }
    }

    .button {
      padding: 10px 40px;
      background-color: $primary-button-color;
      color: $white;
      border-radius: 5px;
      font-size: 18px;
      transition: 0.1s linear;

      &:hover {
        cursor: pointer;
        transition: 0.1s linear;
        box-shadow: 0 0 5px rgb(255 255 255 / 100%);
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .user {
      border: 1px solid #F2F4F8;
      padding: 10px 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.modalContainer {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .input {
    padding: 5px 20px;
    border: 2px solid #2CA2FD;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    // width: 20vw;
    outline: 0;

    &:hover {
      border-color: #2E62D9;
      transition: 0.1s linear;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  .btn {
    padding: 10px 40px;
    background-color: $primary-button-color;
    color: $white;
    border-radius: 5px;
    font-size: 18px;
    align-self: center;
    transition: 0.1s linear;

    &:hover {
      cursor: pointer;
      transition: 0.1s linear;
      box-shadow: 0 0 10px gray;
    }
  }
}